In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('LCK_summer_2024.csv')
df

,GameID,Team,Side,Result,Player,Champion,Role,Level,Kills,Deaths,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,58327,DK,Blue,Win,kingen,Skarner,TOP,15,3,0,...,20005,0,39,536,11355,0,7,24,0,0
1,58327,DK,Blue,Win,Lucid,Vi,JUNGLE,14,1,0,...,25693,0,16,210,21916,0,11,28,0,0
2,58327,DK,Blue,Win,ShowMaker,Taliyah,MID,16,11,0,...,3816,0,27,343,7742,0,13,31,0,0
3,58327,DK,Blue,Win,Aiming,Xayah,ADC,15,7,0,...,4936,0,11,68,9710,0,4,22,0,0
4,58327,DK,Blue,Win,Kellin,Rakan,SUPPORT,11,0,1,...,11300,1875,21,63,11941,0,16,29,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2085,62087,GEN,Red,Win,Kiin,Renekton,TOP,18,1,1,...,50373,0,22,255,44420,46,13,37,0,0
2086,62087,GEN,Red,Win,Canyon,Lillia,JUNGLE,17,2,1,...,30493,0,20,692,41566,58,12,30,150,0
2087,62087,GEN,Red,Win,Chovy,Tristana,MID,18,9,3,...,19531,0,9,214,27431,101,9,32,150,700
2088,62087,GEN,Red,Win,Peyz,Ziggs,ADC,18,6,3,...,5554,0,27,463,11932,95,10,25,300,300
2089,62087,GEN,Red,Win,Lehends,Alistar,SUPPORT,14,1,4,...,29869,0,24,101,35285,57,32,49,0,0

In [3]:
print(df['KDA'].dtype)

object

In [4]:
kda_col = None
for col in df.columns:
    if "KDA" in col:
        kda_col = col
        break

mask = df[kda_col] == "Perfect KDA"
df.loc[mask, kda_col] = df.loc[mask].apply(
    lambda row: int(row['Kills']) + int(row['Assists']), axis=1
)

df

,GameID,Team,Side,Result,Player,Champion,Role,Level,Kills,Deaths,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,58327,DK,Blue,Win,kingen,Skarner,TOP,15,3,0,...,20005,0,39,536,11355,0,7,24,0,0
1,58327,DK,Blue,Win,Lucid,Vi,JUNGLE,14,1,0,...,25693,0,16,210,21916,0,11,28,0,0
2,58327,DK,Blue,Win,ShowMaker,Taliyah,MID,16,11,0,...,3816,0,27,343,7742,0,13,31,0,0
3,58327,DK,Blue,Win,Aiming,Xayah,ADC,15,7,0,...,4936,0,11,68,9710,0,4,22,0,0
4,58327,DK,Blue,Win,Kellin,Rakan,SUPPORT,11,0,1,...,11300,1875,21,63,11941,0,16,29,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2085,62087,GEN,Red,Win,Kiin,Renekton,TOP,18,1,1,...,50373,0,22,255,44420,46,13,37,0,0
2086,62087,GEN,Red,Win,Canyon,Lillia,JUNGLE,17,2,1,...,30493,0,20,692,41566,58,12,30,150,0
2087,62087,GEN,Red,Win,Chovy,Tristana,MID,18,9,3,...,19531,0,9,214,27431,101,9,32,150,700
2088,62087,GEN,Red,Win,Peyz,Ziggs,ADC,18,6,3,...,5554,0,27,463,11932,95,10,25,300,300
2089,62087,GEN,Red,Win,Lehends,Alistar,SUPPORT,14,1,4,...,29869,0,24,101,35285,57,32,49,0,0

In [5]:
print(df['KDA'].dtype)

object

In [6]:
df['KDA'] = df['KDA'].astype(float)
df['KDA'].dtype

dtype('float64')

In [7]:
df['KDA'].mean()

np.float64(5.1640191387559815)

In [8]:
game_ids = sorted(df["GameID"].unique())

match_ids = []
i = 0
while i < len(game_ids) - 1:
    g1 = game_ids[i]
    g2 = game_ids[i+1]

    if i + 2 < len(game_ids):
        g3 = game_ids[i + 2]
        if g2 == g1 + 1 and g3 == g1 + 2:
            match_ids.append(g1)
            i += 3
        else:
            match_ids.append(g1)
            i += 2
    else:
        match_ids.append(g1)
        i += 2

print("Detected MatchIDs:")
print(match_ids)
print(f"Total matches detected: {len(match_ids)}")

Detected MatchIDs:
[np.int64(58327), np.int64(58330), np.int64(59030), np.int64(59033), np.int64(59036), np.int64(59039), np.int64(59042), np.int64(59045), np.int64(59048), np.int64(59051), np.int64(59273), np.int64(59276), np.int64(59279), np.int64(59282), np.int64(59285), np.int64(59288), np.int64(59291), np.int64(59294), np.int64(59297), np.int64(59300), np.int64(59567), np.int64(59570), np.int64(59573), np.int64(59576), np.int64(59579), np.int64(59582), np.int64(59585), np.int64(59588), np.int64(59591), np.int64(59594), np.int64(60034), np.int64(60037), np.int64(60040), np.int64(60043), np.int64(60046), np.int64(60049), np.int64(60052), np.int64(60055), np.int64(60058), np.int64(60061), np.int64(60683), np.int64(60686), np.int64(60689), np.int64(60692), np.int64(60695), np.int64(60698), np.int64(60701), np.int64(60704), np.int64(60707), np.int64(60710), np.int64(61072), np.int64(61075), np.int64(61078), np.int64(61081), np.int64(61084), np.int64(61087), np.int64(61090), np.int64(61093), np.int64(61096), np.int64(61099), np.int64(61466), np.int64(61469), np.int64(61472), np.int64(61475), np.int64(61478), np.int64(61481), np.int64(61484), np.int64(61487), np.int64(61490), np.int64(61493), np.int64(61743), np.int64(61746), np.int64(61749), np.int64(61752), np.int64(61755), np.int64(61758), np.int64(61761), np.int64(61764), np.int64(61767), np.int64(61770), np.int64(62059), np.int64(62062), np.int64(62065), np.int64(62068), np.int64(62071), np.int64(62074), np.int64(62077), np.int64(62080), np.int64(62083), np.int64(62086)]
Total matches detected: 90

In [9]:
game_to_match = {}
for match_id in match_ids:
    for i in range(3):
        game_to_match[match_id + i] = match_id

df["MatchID"] = df["GameID"].map(game_to_match)

In [10]:
game_results = df.groupby(["GameID", "Team"]).first().reset_index()
game_win_counts = game_results.groupby("Team")["Result"].value_counts().unstack(fill_value=0)
game_wins = game_win_counts.get("Win", 0)
game_losses = game_win_counts.get("Loss", 0)

# Tính kết quả từng trận (MatchID)
match_results = game_results.groupby(["MatchID", "Team"])["Result"].agg(lambda x: (x == "Win").sum()).reset_index()
match_scores = match_results.pivot(index="MatchID", columns="Team", values="Result").dropna(axis=0, thresh=2)

match_win_counts = {}
match_loss_counts = {}

for match_id, row in match_scores.iterrows():
    teams = row.dropna()
    if len(teams) != 2:
        continue  # Bỏ qua nếu trận không đủ 2 đội
    team1, team2 = teams.index
    score1, score2 = teams.values
    if score1 > score2:
        match_win_counts[team1] = match_win_counts.get(team1, 0) + 1
        match_loss_counts[team2] = match_loss_counts.get(team2, 0) + 1
    else:
        match_win_counts[team2] = match_win_counts.get(team2, 0) + 1
        match_loss_counts[team1] = match_loss_counts.get(team1, 0) + 1

# Tạo bảng xếp hạng
teams = sorted(set(df["Team"]))
table = []

for team in teams:
    mw = match_win_counts.get(team, 0)
    ml = match_loss_counts.get(team, 0)
    gw = game_wins.get(team, 0)
    gl = game_losses.get(team, 0)
    diff = gw - gl
    table.append({
        "Team": team,
        "Match": f"{mw}–{ml}",
        "Game": f"{gw}–{gl}",
        "Diff": f"{'+' if diff >= 0 else ''}{diff}",
        "Match Wins": mw,
        "Diff Num": diff
    })

# Sắp xếp & in bảng kết quả
table_df = pd.DataFrame(table)
table_df = table_df.sort_values(by=["Match Wins", "Diff Num"], ascending=False).reset_index(drop=True)
table_df.index += 1
table_df.insert(0, "Rank", table_df.index)

final_df = table_df[["Rank","Team", "Match", "Game", "Diff"]]

def highlight_rows_by_rank(row):
    rank = row["Rank"]
    if rank <= 2:
        return ['background-color: lightgreen; color: black'] * len(row)
    elif rank <= 6:
        return ['background-color: khaki; color: black'] * len(row)
    else:
        return ['background-color: salmon; color: black'] * len(row)
    
print("\n📊 Group Stage Final Standings:")
final_df.style.apply(highlight_rows_by_rank, axis=1).hide(axis="index").set_properties(**{'text-align': 'center'})

📊 Group Stage Final Standings:

In [11]:
team_results = df.groupby(["GameID", "Team"]).first().reset_index()
team_results

,GameID,Team,Side,Result,Player,Champion,Role,Level,Kills,Deaths,...,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost,MatchID
0,58327,DK,Blue,Win,kingen,Skarner,TOP,15,3,0,...,0,39,536,11355,0,7,24,0,0,58327
1,58327,HLE,Red,Loss,Doran,Zac,TOP,14,0,4,...,0,18,292,26485,83,4,22,0,0,58327
2,58328,DK,Red,Loss,kingen,Twisted Fate,TOP,16,2,3,...,0,34,277,16233,112,8,25,150,0,58327
3,58328,HLE,Blue,Win,Doran,Skarner,TOP,18,4,1,...,0,44,1308,20130,21,11,28,0,100,58327
4,58329,DK,Blue,Win,kingen,K,TOP,18,0,3,...,2059,39,1647,49992,138,16,40,0,0,58327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,62084,NS,Red,Win,Mihile,Gnar,TOP,18,3,2,...,0,24,615,23606,74,8,25,0,100,62083
414,62086,GEN,Red,Win,Kiin,Nasus,TOP,15,1,1,...,0,12,332,25644,8,8,28,0,0,62086
415,62086,HLE,Blue,Loss,Doran,Gnar,TOP,14,0,5,...,0,19,366,22189,149,8,24,0,0,62086
416,62087,GEN,Red,Win,Kiin,Renekton,TOP,18,1,1,...,0,22,255,44420,46,13,37,0,0,62086
417,62087,HLE,Blue,Loss,Doran,Kennen,TOP,17,1,6,...,0,15,117,28846,199,12,31,300,0,62086

In [13]:
games_played = team_results["Team"].value_counts()
games_played

Team
DK     45
KT     44
T1     44
KDF    44
HLE    41
FOX    41
BRO    41
NS     40
DRX    40
GEN    38
Name: count, dtype: int64

In [20]:
wins = team_results[team_results["Result"] == "Win"]["Team"].value_counts()
wins

Team
GEN    35
HLE    30
DK     29
T1     25
KDF    21
KT     21
FOX    17
NS     13
DRX    10
BRO     8
Name: count, dtype: int64

In [34]:
win_rate = (wins / games_played).fillna(0) * 100

win_rate_df = pd.DataFrame({
    "Team": win_rate.index,
    "Win Rate (%)": win_rate.values.round(2)
}).sort_values(by="Win Rate (%)", ascending=False).reset_index(drop=True)

win_rate_df.index += 1
win_rate_df.style.format({"Win Rate (%)": "{:.2f}"}).set_properties(**{'text-align': 'center'})

In [35]:
team_results = df.groupby(["GameID", "Team", "Side"]).first().reset_index()

side_counts = team_results["Side"].value_counts()
side_wins = team_results[team_results["Result"] == "Win"]["Side"].value_counts()
side_win_rate = (side_wins / side_counts * 100).round(2)

side_win_df = pd.DataFrame({
    "Side": side_win_rate.index,
    "Win Rate (%)": side_win_rate.values
})

side_win_df.style.format({"Win Rate (%)": "{:.2f}"}).hide(axis="index").set_properties(**{'text-align': 'center'})

In [36]:
champion_stats = df.groupby(["Champion", "GameID"]).first().reset_index()

champion_counts = champion_stats["Champion"].value_counts()
champion_wins = champion_stats[champion_stats["Result"] == "Win"]["Champion"].value_counts()
champion_win_rate = (champion_wins / champion_counts * 100).round(2)

top_10_champions = champion_counts.head(10).index

champion_df = pd.DataFrame({
    "Champion": top_10_champions,
    "Win Rate (%)": champion_win_rate[top_10_champions].fillna(0).values,
    "Games Played": champion_counts[top_10_champions].values
})
print("📊 Top 10 Champions by Pick Count (and Win Rate):")
champion_df.style.format({"Win Rate (%)": "{:.2f}"}).set_properties(**{'text-align': 'center'})

📊 Top 10 Champions by Pick Count (and Win Rate):

In [38]:
top_kda = df.groupby("Player")["KDA"].mean().round(2).sort_values(ascending=False).head(10).reset_index()
top_kda.columns = ["Player", "KDA"]

top_kda.style.format({"KDA": "{:.2f}"}).set_properties(**{'text-align': 'center'})