In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('LCK_summer_2024.csv')
df

,GameID,Team,Side,Result,Player,Champion,Role,Level,Kills,Deaths,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,58327,DK,Blue,Win,kingen,Skarner,TOP,15,3,0,...,20005,0,39,536,11355,0,7,24,0,0
1,58327,DK,Blue,Win,Lucid,Vi,JUNGLE,14,1,0,...,25693,0,16,210,21916,0,11,28,0,0
2,58327,DK,Blue,Win,ShowMaker,Taliyah,MID,16,11,0,...,3816,0,27,343,7742,0,13,31,0,0
3,58327,DK,Blue,Win,Aiming,Xayah,ADC,15,7,0,...,4936,0,11,68,9710,0,4,22,0,0
4,58327,DK,Blue,Win,Kellin,Rakan,SUPPORT,11,0,1,...,11300,1875,21,63,11941,0,16,29,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2085,62087,GEN,Red,Win,Kiin,Renekton,TOP,18,1,1,...,50373,0,22,255,44420,46,13,37,0,0
2086,62087,GEN,Red,Win,Canyon,Lillia,JUNGLE,17,2,1,...,30493,0,20,692,41566,58,12,30,150,0
2087,62087,GEN,Red,Win,Chovy,Tristana,MID,18,9,3,...,19531,0,9,214,27431,101,9,32,150,700
2088,62087,GEN,Red,Win,Peyz,Ziggs,ADC,18,6,3,...,5554,0,27,463,11932,95,10,25,300,300
2089,62087,GEN,Red,Win,Lehends,Alistar,SUPPORT,14,1,4,...,29869,0,24,101,35285,57,32,49,0,0

In [3]:
print(df['KDA'].dtype)

object

In [4]:
kda_col = None
for col in df.columns:
    if "KDA" in col:
        kda_col = col
        break

mask = df[kda_col] == "Perfect KDA"
df.loc[mask, kda_col] = df.loc[mask].apply(
    lambda row: int(row['Kills']) + int(row['Assists']), axis=1
)

df

,GameID,Team,Side,Result,Player,Champion,Role,Level,Kills,Deaths,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,58327,DK,Blue,Win,kingen,Skarner,TOP,15,3,0,...,20005,0,39,536,11355,0,7,24,0,0
1,58327,DK,Blue,Win,Lucid,Vi,JUNGLE,14,1,0,...,25693,0,16,210,21916,0,11,28,0,0
2,58327,DK,Blue,Win,ShowMaker,Taliyah,MID,16,11,0,...,3816,0,27,343,7742,0,13,31,0,0
3,58327,DK,Blue,Win,Aiming,Xayah,ADC,15,7,0,...,4936,0,11,68,9710,0,4,22,0,0
4,58327,DK,Blue,Win,Kellin,Rakan,SUPPORT,11,0,1,...,11300,1875,21,63,11941,0,16,29,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2085,62087,GEN,Red,Win,Kiin,Renekton,TOP,18,1,1,...,50373,0,22,255,44420,46,13,37,0,0
2086,62087,GEN,Red,Win,Canyon,Lillia,JUNGLE,17,2,1,...,30493,0,20,692,41566,58,12,30,150,0
2087,62087,GEN,Red,Win,Chovy,Tristana,MID,18,9,3,...,19531,0,9,214,27431,101,9,32,150,700
2088,62087,GEN,Red,Win,Peyz,Ziggs,ADC,18,6,3,...,5554,0,27,463,11932,95,10,25,300,300
2089,62087,GEN,Red,Win,Lehends,Alistar,SUPPORT,14,1,4,...,29869,0,24,101,35285,57,32,49,0,0

In [5]:
print(df['KDA'].dtype)

object

In [6]:
df['KDA'] = df['KDA'].astype(float)
df['KDA'].dtype

dtype('float64')

In [7]:
df['KDA'].mean()

np.float64(5.1640191387559815)

In [10]:
team_results = df.groupby(["GameID", "Team"]).first().reset_index()
team_results

,GameID,Team,Side,Result,Player,Champion,Role,Level,Kills,Deaths,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,58327,DK,Blue,Win,kingen,Skarner,TOP,15,3,0,...,20005,0,39,536,11355,0,7,24,0,0
1,58327,HLE,Red,Loss,Doran,Zac,TOP,14,0,4,...,21337,0,18,292,26485,83,4,22,0,0
2,58328,DK,Red,Loss,kingen,Twisted Fate,TOP,16,2,3,...,10853,0,34,277,16233,112,8,25,150,0
3,58328,HLE,Blue,Win,Doran,Skarner,TOP,18,4,1,...,50910,0,44,1308,20130,21,11,28,0,100
4,58329,DK,Blue,Win,kingen,K,TOP,18,0,3,...,79989,2059,39,1647,49992,138,16,40,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,62084,NS,Red,Win,Mihile,Gnar,TOP,18,3,2,...,24973,0,24,615,23606,74,8,25,0,100
414,62086,GEN,Red,Win,Kiin,Nasus,TOP,15,1,1,...,31016,0,12,332,25644,8,8,28,0,0
415,62086,HLE,Blue,Loss,Doran,Gnar,TOP,14,0,5,...,13290,0,19,366,22189,149,8,24,0,0
416,62087,GEN,Red,Win,Kiin,Renekton,TOP,18,1,1,...,50373,0,22,255,44420,46,13,37,0,0
417,62087,HLE,Blue,Loss,Doran,Kennen,TOP,17,1,6,...,20003,0,15,117,28846,199,12,31,300,0

In [11]:
games_played = team_results["Team"].value_counts()
games_played

Team
DK     45
KT     44
T1     44
KDF    44
HLE    41
FOX    41
BRO    41
NS     40
DRX    40
GEN    38
Name: count, dtype: int64

In [15]:
wins = team_results[team_results["Result"] == "Win"]["Team"].value_counts()
wins

Team
GEN    35
HLE    30
DK     29
T1     25
KDF    21
KT     21
FOX    17
NS     13
DRX    10
BRO     8
Name: count, dtype: int64

In [ ]:
win_rate = (wins / games_played).fillna(0) * 100

win_rate_df = pd.DataFrame({
    "Team": win_rate.index,
    "Win Rate (%)": win_rate.values.round(2)
}).sort_values(by="Win Rate (%)", ascending=False)

win_rate_df

  Team  Win Rate (%)
4  GEN         92.11
5  HLE         73.17
1   DK         64.44
9   T1         56.82
7   KT         47.73
6  KDF         47.73
3  FOX         41.46
8   NS         32.50
2  DRX         25.00
0  BRO         19.51

In [19]:
df["MatchID"] = df["GameID"] // 3

# Get team-level result per game
game_results = df.groupby(["GameID", "Team"]).first().reset_index()

# Calculate number of games won/lost
game_win_counts = game_results.groupby("Team")["Result"].value_counts().unstack(fill_value=0)
game_wins = game_win_counts.get("Win", 0)
game_losses = game_win_counts.get("Loss", 0)

# Calculate match-level results
match_results = game_results.groupby(["MatchID", "Team"])["Result"].agg(lambda x: (x == "Win").sum()).reset_index()
# Each team appears once per match with their number of wins (1â€“3), now reshape
match_scores = match_results.pivot(index="MatchID", columns="Team", values="Result").dropna(axis=0, thresh=2)

match_win_counts = {}
match_loss_counts = {}

for match_id, row in match_scores.iterrows():
    teams = row.dropna()
    if len(teams) != 2:
        continue  # skip if not a full BO3 match
    team1, team2 = teams.index
    score1, score2 = teams.values
    if score1 > score2:
        match_win_counts[team1] = match_win_counts.get(team1, 0) + 1
        match_loss_counts[team2] = match_loss_counts.get(team2, 0) + 1
    else:
        match_win_counts[team2] = match_win_counts.get(team2, 0) + 1
        match_loss_counts[team1] = match_loss_counts.get(team1, 0) + 1

# Create final standings DataFrame
teams = set(df["Team"])
table = []

for team in teams:
    mw = match_win_counts.get(team, 0)
    ml = match_loss_counts.get(team, 0)
    gw = game_wins.get(team, 0)
    gl = game_losses.get(team, 0)
    diff = gw - gl
    table.append({
        "Team": team,
        "Match": f"{mw}â€“{ml}",
        "Game": f"{gw}â€“{gl}",
        "Diff": f"{'+' if diff >= 0 else ''}{diff}",
        "Match Wins": mw,      # used for sorting
        "Game Diff Num": diff  # used for sorting
    })

# Sort and format
table_df = pd.DataFrame(table)
table_df = table_df.sort_values(by=["Match Wins", "Game Diff Num"], ascending=False).reset_index(drop=True)

final_df = table_df[["Team", "Match", "Game", "Diff"]]

final_df

  Team Match   Game Diff
0   DK   9â€“1  29â€“16  +13
1   T1   8â€“3  25â€“19   +6
2  HLE   6â€“2  30â€“11  +19
3  KDF   6â€“5  21â€“23   -2
4  GEN   5â€“1   35â€“3  +32
5   NS   5â€“6  13â€“27  -14
6   KT   4â€“6  21â€“23   -2
7  FOX   4â€“4  17â€“24   -7
8  DRX  0â€“10  10â€“30  -20
9  BRO   0â€“9   8â€“33  -25