In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('LCK_summer_2024.csv')
df

,GameID,Team,Result,Player,Champion,Role,Level,Kills,Deaths,Assists,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,58327,DK,Win,kingen,Skarner,TOP,15,3,0,8,...,20005,0,39,536,11355,0,7,24,0,0
1,58327,DK,Win,Lucid,Vi,JUNGLE,14,1,0,11,...,25693,0,16,210,21916,0,11,28,0,0
2,58327,DK,Win,ShowMaker,Taliyah,MID,16,11,0,7,...,3816,0,27,343,7742,0,13,31,0,0
3,58327,DK,Win,Aiming,Xayah,ADC,15,7,0,11,...,4936,0,11,68,9710,0,4,22,0,0
4,58327,DK,Win,Kellin,Rakan,SUPPORT,11,0,1,17,...,11300,1875,21,63,11941,0,16,29,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2085,62087,GEN,Win,Kiin,Renekton,TOP,18,1,1,7,...,50373,0,22,255,44420,46,13,37,0,0
2086,62087,GEN,Win,Canyon,Lillia,JUNGLE,17,2,1,4,...,30493,0,20,692,41566,58,12,30,150,0
2087,62087,GEN,Win,Chovy,Tristana,MID,18,9,3,3,...,19531,0,9,214,27431,101,9,32,150,700
2088,62087,GEN,Win,Peyz,Ziggs,ADC,18,6,3,6,...,5554,0,27,463,11932,95,10,25,300,300
2089,62087,GEN,Win,Lehends,Alistar,SUPPORT,14,1,4,8,...,29869,0,24,101,35285,57,32,49,0,0

In [3]:
print(df['KDA'].dtype)

object

In [4]:
kda_col = None
for col in df.columns:
    if "KDA" in col:
        kda_col = col
        break

mask = df[kda_col] == "Perfect KDA"
df.loc[mask, kda_col] = df.loc[mask].apply(
    lambda row: int(row['Kills']) + int(row['Assists']), axis=1
)

df

,GameID,Team,Result,Player,Champion,Role,Level,Kills,Deaths,Assists,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,58327,DK,Win,kingen,Skarner,TOP,15,3,0,8,...,20005,0,39,536,11355,0,7,24,0,0
1,58327,DK,Win,Lucid,Vi,JUNGLE,14,1,0,11,...,25693,0,16,210,21916,0,11,28,0,0
2,58327,DK,Win,ShowMaker,Taliyah,MID,16,11,0,7,...,3816,0,27,343,7742,0,13,31,0,0
3,58327,DK,Win,Aiming,Xayah,ADC,15,7,0,11,...,4936,0,11,68,9710,0,4,22,0,0
4,58327,DK,Win,Kellin,Rakan,SUPPORT,11,0,1,17,...,11300,1875,21,63,11941,0,16,29,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2085,62087,GEN,Win,Kiin,Renekton,TOP,18,1,1,7,...,50373,0,22,255,44420,46,13,37,0,0
2086,62087,GEN,Win,Canyon,Lillia,JUNGLE,17,2,1,4,...,30493,0,20,692,41566,58,12,30,150,0
2087,62087,GEN,Win,Chovy,Tristana,MID,18,9,3,3,...,19531,0,9,214,27431,101,9,32,150,700
2088,62087,GEN,Win,Peyz,Ziggs,ADC,18,6,3,6,...,5554,0,27,463,11932,95,10,25,300,300
2089,62087,GEN,Win,Lehends,Alistar,SUPPORT,14,1,4,8,...,29869,0,24,101,35285,57,32,49,0,0

In [5]:
print(df['KDA'].dtype)

object

In [6]:
df['KDA'] = df['KDA'].astype(float)
df['KDA'].dtype

dtype('float64')

In [7]:
df['KDA'].mean()

np.float64(5.1640191387559815)